@import "../classes/button.css";
@import "../classes/flex.css";
@import "../main.css";

body {
    background: linear-gradient(23deg, #FF89B4 0%, #CA008D 95%);
    color: #6C004C;
    font-weight: bolder;
}

header {
    text-align: center;
    width: 100%;
    padding: 20px;
    padding-top: 60px;
    position: unset;
}
/* FF89B4
CA008D */

/* zariadi medzeru medzi všetkými prvkami headeru */
header * {
    margin: 5px 0px;
}

/* odtráni zafarbenie a tieň headeru */
header, 
footer {
    background: unset;
    box-shadow: unset;  
}

/* zariadi medzeru medzi obsahom a headerom/footerom */
main {
    margin: 20px 0px 50px 0px;
}

/* zariadi medzeru medzi sekciami*/
main section {
    padding-top: 15px;
}

/* nastaví transition pre ikonu */
#love-heart {
    transition:
        transform 1s,
        color 1s;
}

/* nastaví zmenu farby a veľkosti pre ikonu */
#love-heart:hover {
    color: #FF8AE5;
    transform: scale(1.5);
}

.icon {
    height: 4em;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    width: auto;
    background-image: url("icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.main-card-button {
    background-color: #6C004C;
    font-weight: 700;
    padding: 11px 0;
    grid-column: span 2;
}

.main-card-button:hover {
    background-color: #56003C;
}

.card-button {
    background-color: #6C004C;
    font-weight: 700;
    padding: 11px 0;
}

.card-button:hover {
    background-color: #56003C;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 18px;
}

/* h3, footer {
    color: white;
} */