@import "../classes/button.css";
@import "../classes/flex.css";
@import "../classes/gallery.css";
@import "../main.css";

header {
    padding: 20px;
    background-color: #09004266;
    text-align: center;
}

header a {
    padding: 10px;
}

header * {
    margin: 10px;
}

main {
    padding: 40px 20px;
}

footer {
    background-color: #09004266;
}

#modal-display {
    display: none;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000066;
}

#modal-display i {
    padding: 100vh 40px;
    z-index: 2;
    transition: transform 500ms;
}

#modal-display i:hover {
    transform: scale(1.5);
}

#modal-display #modal-image {
    display: fixed;
    height: 100vh;
    width: auto;
    image-rendering: pixelated;
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    transition-duration: 100ms;
    transform-origin: 0px 0px 0px;
    background-color: #00000066;
}

@media (max-width: 550px) {
    #modal-display #modal-image {
        max-width: 100%;
        max-height: 90%;
    }
}