@import "../classes/button.css";
@import "../classes/flex.css";
@import "../classes/gallery.css";
@import "../main.css";

header {
    padding: 20px;
    background-color: #09004266;
    text-align: center;
}

header a {
    padding: 10px;
}

header * {
    margin: 10px;
}

main {
    padding: 40px 20px;
}

footer {
    background-color: #09004266;
}

.no-transition{
    transition: unset !important;
}

#modal-display {
    display: none;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000066;
}

#modal-display i {
    position: fixed;
    padding: 100vh 40px;
    z-index: 2;
    transition: transform 500ms;
}

#modal-prev-arrow {
    left: 0;
}

#modal-next-arrow {
    right: 0;
}

#modal-display i:hover {
    transform: scale(1.5);
}

#modal-display #aspect-ratio-container {
    display: flex;
    height: 100vh;
    max-width: 75%;
    max-height: 90vh;
    align-items: center;
    margin: auto;
}

#modal-display #aspect-ratio-container #modal-image {
    display: block;
    image-rendering: pixelated;
    margin: auto;
    transform: translate(0px, 0px) scale(1);
    width: 100vh;
    max-width: 100%;
    transition: 
        transform 200ms,
        opacity 200ms;
    transform-origin: 0px 0px 0px;
    background-color: #00000066;
}

@media (max-width: 700px) {
    #modal-display #aspect-ratio-container {
        max-width: 100%;
    }

    #modal-prev-arrow,
    #modal-next-arrow {
        display: none;
    }
}